<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guilty as sock deck generator</title>
</head>

<body>
    <h1>Welcome to the Guilty as sock deck generator</h1>
    {% for deck in decks %}
        <h2>{{deck.name}}</h2>
        <p>Description: {{deck.description}}</p>
        {% for card in deck.cards %}
            <p></p>
            <p>Card Name: {{card.name}}</p>
            <p>Card Description: {{card.description}}</p>
        {% endfor %}
    {% endfor %}
</body>

</html>